package {{ package }};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import java.util.UUID;

@Repository
public interface {{ entity.name }}Repository extends JpaRepository<{{ entity.name }}, UUID> {
}
